/* Die Einbindung erfolgt mit defer => true */
.withContentToggler button
{
	margin-bottom:5px;
}
.togglerContent
{
	border:1px solid black;
	padding:10px 10px 5px 10px;
}
.longdesription
{
	margin-bottom:5px;
	padding-top:5px;
	border-top:1px solid blue;
}
section#content
{
	padding-bottom:200px;
}
button.contentToggler
{
	margin-top:3px;
}
.borderedImg
{
	border:2px solid gray;
}
pre {
	display: block;
	padding: 8.5px;
	margin: 0 0 9px;
	font-size: 12px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
